// Colors

$blue: #00A3B7;
$greyish: #99AAB5;
$dark: #2C2F33;
$very-dark: #23272A;
$black: #000000;


// Actual styles

$body-background-color: $dark;
$sidebar-color: $dark;
$border-color: ligten($dark, 10%);

$body-text-color: $grey-lt-300;
$body-heading-color: $grey-lt-000;
$nav-child-link-color: $grey-dk-000;
$search-result-preview-color: $grey-dk-000;

$link-color: $blue;
$btn-primary-color: $blue;
$base-button-color: $very-dark;

$code-background-color: $very-dark;
$search-background-color: $very-dark;
$table-background-color: $very-dark;
$feedback-color: darken($sidebar-color, 3%);
